@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    max-width: 960px;
    margin: auto;
    font-family: "Noto Sans KR", "Nanum Gothic";
    font-size:14px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
  color: black;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 5px;
  margin-bottom: 16px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a {
  font-size: 10px;
}

section {
  margin-bottom: 24px;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 12px;
}

.name-text {
  font-size: 17px;
  color: rgb(92, 92, 92);
  font-weight: bold;
}

.main-box {
  border: 1px solid white;
  width: 100% - 30px;
  max-width: 610px;
  margin: auto;
  padding: 30px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

.title-box {
  text-align: right;
}

.about-me-text {
  font-size: 10px;
  line-height: 16px;
}

.title-text{
  font-size: 11px;
  font-weight: bold;
  color: #282828;
  float: left;
}

.year-text{
  font-size: 11px;
  font-weight: bold;
  color: #282828;
  float: right;
}

.float-wrap {
  overflow: hidden;
}

.hi {
  font-size: 0;
}

.desc-text {
  font-size: 9px;
}

.summery-text {
  font-size: 9px;
  color: #282828;
  padding-left: 16px;
}

.desc-subtext {
  font-size: 9px;
  color: #282828;
  padding-left: 16px;
}

.sns-img {
  width: 12px;
  height: 12px;
}

.sns-wrap {
  text-align: right;
}